<div class="animated fadeIn"ng-controller="changepasswordCtrl">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <strong>Change Password</strong> Form
            </div>
            <div class="card-block">
                <form class="form-horizontal" name="cForm">

                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="oldpassword">Old Password <span class="form-label-warning">*</span> </label>
                        <div class="col-md-9">
                            <input class="form-control" type='password' name='oldpassword' ng-model='change.oldpassword' required>
                            <span class="form-label-warning" ng-show="cForm.oldpassword.$touched && cForm.oldpassword.$error.required">Old Password is required.</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="changepassword">Password <span class="form-label-warning">*</span> </label>
                        <div class="col-md-9">
                            <input class="form-control" type='password' name='changepassword' ng-model='change.password' required>
                            <span class="form-label-warning" ng-show="cForm.changepassword.$touched && cForm.changepassword.$error.required">Password is required.</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="changecpassword">Confirm Password <span class="form-label-warning">*</span> </label>
                        <div class="col-md-9">
                            <input class="form-control" type='password' name='changecpassword' ng-model='change.cpassword' required>
                            <span class="form-label-warning" ng-show="cForm.changecpassword.$touched && change.cpassword!= change.password">Password mismatch.</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button ng-disabled="cForm.$invalid" type="button" ng-click="submit(change)" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Change Password</button>
            </div>
        </div>
    </div>
</div>