<div class="animated fadeIn">
    <table datatable="" class="row-border hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Mobile</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>sivakvai</td>
                <td>9629129377</td>
                <td>sivakavij@gmail.com</td>
            </tr>
            <tr>
                <td>santhosh</td>
                <td>9894252587</td>
                <td>sivakavij@gmail.com</td>
            </tr>
            <tr>
                <td>mr x</td>
                <td>1234567890</td>
                <td>sivakavij@gmail.com</td>
            </tr>
        </tbody>
    </table>
</div>